$yellow1 = #FFFFE2;
$yellow2 = #FFE44C;

$celadon = #D0BD9C;
$green = #4C6600;

.menu . {
	//（｜｜｜）
	color: crimson;
}

.mistake {
	background-color: #EC607C;			// Amaranth pink
}

.mistake .focus {
	background-color: #E52B50;			// Amaranth	
	color: #7C0A02;						// Barn red
	font-weight: bold;
}

.adj {
	background-color: #FFEA86;			// Pale orange	
}

.n {
	background-color: #8DB600;			// Lemon lime
}

.vt {
	background-color: #C9A0DC;			// Wisteria
}

.vi {
	background-color: #FE4EDA;			// Purple Pizzazz
}
